{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <h2>ID: {{user.id}}</h2>
            <p>
              <strong> Name: {{user.username}} </strong>
            </p>
            <p>Age: {{user.age}}</p>
        </article>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                    {% for i in users %}
                        <li class="list-group-item">
                            <a href="/user/{{i.id}}">{{i.id}} {{i.username}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}